body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Lexend', sans-serif;
}

h3 {
    text-align: center;
}

.question {
    margin-top: 20px;
    font-size: 12px
}
/* General body styles */
body {
    background-color: #0abb87;
    line-height: 1.6;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the contact form */
.contact-us-container {
    max-width: 600px;
    background: #fff;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: solid #0abb87;
    width: 80%;
    height: 80%;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid #0abb87;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid #0abb87;
    border-radius: 8px;
}

.submit-btn {
    background-color: #0abb87;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #08956f;
}