@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 800px;
    padding: 20px;
}

h1 {
    color: #0abb87;
}

#document-feed {
    display: flex;
    width: 1150px;
    flex-direction: column;
    gap: 20px;
}

.document {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.document h2 {
    margin: 0 0 20px 500px;
    color: #333;
}

.document p {
    color: #333;
    margin: 20px;
}

.read-more-btn {
    color: #0abb87;
    text-decoration: none;
    margin-left: 530px;
    padding: 5px;
    border: solid ;
    border-radius: 8px;

}

.read-more-btn:hover {
    color: #fff;
    border-color: #333;
    background-color: #0abb87;
    text-decoration: underline;
}
