body {
    font-family: "Lexend", sans-serif;
    background-color: #edfef9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
   color: #000;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="email"] {
    width: 100%;
    max-width: 170px;
    padding: 5px;
    margin: 8px 0px 10px 20px;
    border: 1px solid #0abb87;
    border-radius: 8px;
}

.login-link-btn{
    color: #fff;
    font-size: 12px;
    width: 280px;
    max-width: 300px;
    font-weight: bold;
    border: solid #0abb87;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0abb87;
    margin: 5px;
}

.login-link-btn:hover {
    color: #000;
}

.reset-password-btn {
    color: #0abb87;
    font-size: 12px;
    width: 280px;
    max-width: 300px;
    font-weight: bold;
    border: solid #0abb87;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    margin: 5px;
}
.reset-password-btn:hover {
    color:#000
}