@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.about-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.section-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.about-text {
    text-align: center;
    font-size: 1.2rem;
}

.platform-image{
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.about-list {
    margin: 20px 0 0 30px;
}

.about-list li{
    list-style: square;
    margin: 0 10px;
}

footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

footer h3 {
    margin-bottom: 20px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.follow {
    margin-left: 150px;
}
.social-media ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.social-media ul li img {
    width: 24px;
    height: 24px;
    margin: 10px 10px 0 200px;
}

.footer-container a {
    text-decoration: none;
    color: #666;
}

.footer-container a:hover {
    color: #0abb87;
}

.contact-info p {
    margin: 20px 0;
    transition: transform 0.3s ease;
}

.contact-info p:hover {
    transform: translateX(5%);
}

.contact-info {
    width: 45%;
}

.copyright {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #666;
    background-color: #f0f0f0;
    padding: 50px;
}

