@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.about-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.section-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.about-text {
    text-align: center;
    font-size: 1.2rem;
}

.platform-image{
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.about-list {
    margin: 20px 0 0 30px;
}

.about-list li{
    list-style: square;
    margin: 0 10px;
}

